.awesome{
    padding-top: 100px;
    padding-bottom: 60px;
}

.description{
    display:flex;
    max-width: 1170px;
    padding:0;
    margin: 290px 0 0;
    justify-content: center;
}
.description__design{
    text-align: center;
    font-family: Raleway, "Arial", sans-serif;
    font-weight: 400;
    font-size: 18px;
    width: 370px;

}
.description__design--title{
    font-family: "Open Sans", "Arial", sans-serif;
    font-size: 24px;
    font-weight: 700;
    position: relative;
    margin: 0;
}
.awesome-lamp::before{
    position: absolute;
    content: "";
    background-image: url("../picture/Group16&lamp.svg");
    width: 92px;
    height: 92px;
    bottom:120px;
    left:140px;
}
.awesome-board::before{
    position: absolute;
    content: "";
    background-image: url("../picture/Group17&board.svg");
    width: 92px;
    height: 92px;
    bottom:120px;
    left:140px;
}
.awesome-lightning::before{
    content:"";
    background-image: url("../picture/Group18&molnia.svg");
     position: absolute;
    width: 92px;
     height: 92px;
    bottom:120px;
    left:140px;
 }
.description__design--information{
    font-family: Raleway, "Arial", sans-serif;
    font-size: 18px;
    font-weight: 400;
    margin: 49px 0 0;
    padding: 15px;

}
@media(max-width: 1510px){
    .description{
        max-width: 992px;
        margin: 210px 0 0;
    }
    .description__design--title{
        font-size: 18px;
    }
    .awesome-lamp::before{
        background-size: contain;
        width: 80px;
        height: 80px;
        bottom:80px;
        left:130px;
}
    .awesome-board::before {
        background-size: contain;
        width: 80px;
        height: 80px;
        bottom: 80px;
        left: 130px;
    }
    .awesome-lightning::before{
        background-size: contain;
        width: 80px;
        height: 80px;
        bottom:80px;
        left:130px;
    }
}
@media(max-width: 1024px){
    .awesome{
        padding: 50px 10px 60px;
    }
    .description{
        max-width: 288px;
        flex-direction: column;
        text-align: center;
        margin:230px 0 0;
    }
    .description__design{
        max-width: inherit;
    }
    .description__design--information{
        max-width: 288px;
    }
    .awesome-board{
        margin: 190px 0 0;
    }
    .awesome-lightning{
        margin: 190px 0 0;
    }
    .awesome-lamp::before{
        background-size: contain;
        width: 80px;
        height: 80px;
        bottom:80px;
        left:105px;
}
    .awesome-board::before {
        background-size: contain;
        width: 80px;
        height: 80px;
        bottom: 80px;
        left: 105px;
    }
    .awesome-lightning::before {
        background-size: contain;
        width: 80px;
        height: 80px;
        bottom: 80px;
        left: 105px;
    }}