.axit{
    background-image: url("/picture/AXIT/bg-dark.jpg");
    background-size: cover;
    background-repeat: no-repeat;
}
.preview{
    display: flex;
    padding-top: 200px;
    justify-content: space-between;
}
.container__input{
    width: 470px;
    text-align: center;
}
.container__content--title{
    width: 670px;
    color: white;
    font-family: Raleway,Arial,sans-serif;
    font-weight: 500;
    font-size: 48px;
    position: relative;
    margin: 75px 0 0 0;
    padding-bottom:50px;
}
.container__content--title::after{
    content:"";
    position: absolute;
    height: 1px;
    width: 170px;
    background-color: white;
    bottom: 0;
    left: 0;
}
.container__content--subtitle{
    width: 270px;
    margin: 97px 0 0 0;
    font-family: Raleway, "Arial", sans-serif;
    font-weight: 400;
    font-size: 18px;
    color: white;
}
.container__content--button{
    width: 270px;
    padding: 20px;
    margin-top: 42px;
    color: white;
    font-family: "Open Sans", "Arial", sans-serif;
    font-weight: 600;
    font-size: 18px;
    background:rgba(0, 0, 0, 0);
    border-color: white;
    cursor: pointer;
}
.container__input{
    border: 0 solid white;
    width: 470px;
    margin-bottom: 290px;
    background-color: white;
    border-radius: 10px;

}
.container__input--title{
    font-weight: 700;
    font-size: 24px;
    font-family: "Open Sans", "Arial", sans-serif;
    text-align: center;
    padding: 30px;
    margin: 0;
}
.free__color{
    color:#EC7979;
}


.container__input--field{
    border: none;
    border-bottom: 3px solid #BDBDBD;
    background-color: transparent;
    color: inherit;
    outline: none;
    min-width: 325px;
    padding:20px 0;
}


.container__input--button{
    width: 470px;
    padding: 25px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    background-color: #EC7979;
    border: 1px solid #EC7979;
    color: white;
    margin-top: 100px;
    cursor: pointer;
}
