.axit{
    background-image: url("/picture/AXIT/bg-dark.jpg");
    background-size: cover;
    background-repeat: no-repeat;
}
.preview{
    display: flex;
    padding: 200px 0;
    justify-content: space-between;
}

.container__content--title{
    max-width: 670px;
    color: white;
    font-family: Raleway,Arial,sans-serif;
    font-weight: 500;
    font-size: 48px;
    position: relative;
    margin: 75px 0 0 0;
    padding-bottom:50px;
}
.container__content--title::after{
    content:"";
    position: absolute;
    height: 1px;
    width: 170px;
    background-color: white;
    bottom: 0;
    left: 0;
}
.container__content--subtitle{
    max-width: 270px;
    margin: 97px 0 0 0;
    font-family: Raleway, "Arial", sans-serif;
    font-weight: 400;
    font-size: 18px;
    color: white;
}
.container__content--button{
    min-width: 270px;
    padding: 20px;
    margin-top: 42px;
    color: white;
    font-family: "Open Sans", "Arial", sans-serif;
    font-weight: 600;
    font-size: 18px;
    background:rgba(0, 0, 0, 0);
    border-color: white;
    cursor: pointer;
}
.container__input{
    border: 0 solid white;
    margin:0;
    max-width: 470px;
    background-color: white;
    border-radius: 10px;
    text-align: center;
    align-self: flex-start;

}
.container__input--title{
    font-weight: 700;
    font-size: 24px;
    font-family: "Open Sans", "Arial", sans-serif;
    text-align: center;
    padding: 30px;
    margin: 0;
}
.free__color{
    color:#EC7979;
}


.container__input--field{
    border: none;
    border-bottom: 3px solid #BDBDBD;
    background-color: transparent;
    color: inherit;
    outline: none;
    min-width: 325px;
    padding:20px 0;
}


.container__input--button{
    width: 470px;
    padding: 25px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    background-color: #EC7979;
    border: 1px solid #EC7979;
    color: white;
    margin-top: 100px;
    cursor: pointer;
}

@media (max-width: 1510px) {
    .container {
        max-width: 992px;
    }
    .container__content--title {
        max-width: 454px;
        font-size: 36px;
        padding-bottom: 41px;
        margin-top: 54px;
    }

    .container__content--title::after {
        width: 115px;
    }

    .container__content--subtitle {
        font-size: 14px;
        margin-top: 31px;
        max-width: 183px;
    }

    .container__content--button {
        min-width: 183px;
    }

    .container__input {
        max-width: 398px;
    }

    .container__input--button {
        max-width: 398px;
        margin-top: 75px;
    }
}

@media(max-width: 1024px) {
    .container__content{
        text-align: center;
    }
    .container__content--axit{
        display: none;
    }

    .container__content--title{
        margin: 0;
        padding-bottom: 43px;
    }
    .container__content--title::after {
        width: 134px;
        transform: translate(55%, 0);
    }
    .container__content--subtitle {
        margin-top: 42px;
        max-width: 288px;
    }
    .container__content--button{
        min-width:288px;
        margin-top: 42px;
        text-align: center;
    }

    .preview{
        flex-direction: column;
        padding: 15px;
        max-width: 288px;
    }
.container__input{
    max-width: 288px;
    margin-top: 56px;
}
.container__input--button{
    max-width: 100%;
}
.container__input--field{
    min-width: 240px;
}
}


