.axit{
}
.subject{
    background: linear-gradient( rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5) ), url(/picture/AXIT/image.jpg);
    max-width: 1510px;
    margin: 0 auto;
    display: flex;
}
.subject__content{
margin-left: 170px;
    margin-top: 231px;
}
.subject__input{
    width: 470px;
}
.subject__content--title{
    width: 670px;
    color: white;
    font-family: Raleway,Arial,sans-serif;
    font-weight: 500;
    font-size: 48px;
    position: relative;
    margin-top: 72px;
    margin-bottom: 0;
}
.subject__content--title::after{
    content:"";
    position: absolute;
    height: 1px;
    width: 170px;
    background-color: white;
    bottom: -50px;
    left: 0;
}
.subject__content--subtitle{
    width: 270px;
    margin-top: 97px;
    font-family: Raleway, "Arial", sans-serif;
    font-weight: 400;
    font-size: 18px;
    color: white;
}
.subject__content--button{
    width: 270px;
    padding: 20px 0;
    margin-top: 42px;
    color: white;
    font-family: "Open Sans", "Arial", sans-serif;
    font-weight: 600;
    font-size: 18px;
    background:rgba(0, 0, 0, 0);
    border-color: white;
    margin-bottom: 185px;
}
.subject__input{
    margin-left: 60px;
    border: 0 solid white;
    width: 470px;
    margin-top: 208px;
    margin-bottom: 290px;
    background-color: white;
    border-radius: 10px;

}
.subject__input--title{
    font-weight: 700;
    font-size: 24px;
    font-family: "Open Sans", "Arial", sans-serif;
    text-align: center;
    padding-top: 30px;
    margin-bottom: 80px;
}
.free__color{
    color:#EC7979;
}


.subject__input--field{
    border: none;
    border-bottom: 3px solid #BDBDBD;
    background-color: transparent;
    color: inherit;
    outline: none;
    width: 370px;
    margin-left: 50px;
}
.subject__input--paragraf{
    font-family: "Open Sans", "Arial", sans-serif;
    font-weight: 400;
    font-size: 14px;
    color:#BDBDBD;
    margin-top: 35px;
    margin-bottom: 0;
    margin-left: 50px;
}

.subject__input--button{
    width: 470px;
    padding: 25px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    background-color: #EC7979;
    border: 1px solid #EC7979;
    color: white;
    margin-top: 80px;

}
