.customers{
    padding-top:95px;
    padding-bottom: 50px;
}
.customers__header{
    position: relative;
    text-align: center;
    font-family: Raleway, "Arial", sans-serif;
    font-weight: 400;
    font-size: 36px;
    padding-bottom:50px;
    margin:0;
}
.customers__header::after{
    content:"";
    position: absolute;
    height: 1px;
    width: 170px;
    background-color: #EC7979;
    bottom: 0;
    transform: translate(-50%, 0);
    left: 50%;
}
.customers__subhead{
    font-family: Raleway, arial,sans-serif;
    font-weight: 400;
    font-size: 18px;
    color: gray;
    text-align: center;
    margin-top: 40px;
    margin-bottom: 0;
}
.list{
    width: 1170px;
    list-style: none;
    display: flex;
    justify-content: space-between;
    padding: 0;
    margin-top:80px;
    margin-bottom: 0;
}
.list__description{
    max-width: 370px;
}

.list__description--information{
    position: relative;
    border: 1px solid#E2E2E2;
    background-color: #E2E2E2;
    padding: 40px 15px;
    border-radius: 10px;
    font-size: 18px;
    font-weight: 400;
    font-family: Raleway, Arial, sans-serif;
    color: gray;
    text-align: center;
    margin:0;
}
.list__description--information::after{
    content:"";
    position: absolute;
    width: 0;
    height: 0;
    border-left: 20px solid transparent;
    border-right: 20px solid transparent;
    border-top: 30px solid #E2E2E2;
    bottom:-30px;
    left:70px;
}
.workers{
    margin-top:66px;
    display: flex;
    gap: 30px;
}
.contacts{
    display: block;
}
.contacts__name{
    font-family: "Open Sans", Arial, sans-serif;
    font-weight: 700;
    font-size: 24px;
    margin: 0 auto;
}
.contacts__info{
    font-family: Raleway,  Arial, sans-serif;
    font-weight: 400;
    font-size: 18px;
    margin-bottom: 0;
    margin-top: 15px;
}
.person{
    display: flex;
    gap:30px;
}
@media(max-width: 1510px){
    .customers__header{
        font-size: 24px;
        padding-bottom:35px;
    }
    .customers__header::after{
        width: 142px;
    }
    .customers__subhead{
        font-size: 14px;
        margin-top: 32px;
    }
    .list{
        max-width: 992px;
        margin-top: 30px;
    }
    .list__description{
        max-width: 317px;
    }
    .list__description--information{
        font-size: 14px;
    }
    .contacts__name{
        font-size: 18px;
    }
    .contacts__info{
        font-size: 14px;
    }
}
@media(max-width: 1024px){
    .list__description{
        max-width: 288px;
    }
    .list__description--information{
        padding:20px 15px;
    }
    .none{
        display:none;
    }

}

