.design-section{
    background-image: url("/picture/stylish-bg.jpg");
    padding:110px 50px;
    background-size: cover;
    background-repeat: no-repeat;
}
.design{
    text-align: center;
    color: #F4F9FC;
}
.design__title{
    font-family: Raleway, Arial,sans-serif;
    font-weight: 400;
    font-size: 36px;
    position: relative;
    padding-bottom: 60px;
    margin: 0;
}
.design__title::after{
    content:"";
    position: absolute;
    height: 1px;
    width: 170px;
    background-color: #F4F9FC;
    bottom: 0;
    transform: translate(-50%, 0);
    left: 50%;
}
.design__subtitle{
    margin: 40px 0 0 0;
    font-family: Raleway, Arial,sans-serif;
    font-weight: 400;
    font-size: 18px;
}
.design__tab{
    font-family: Open Sans,Arial,sans-serif;
    font-weight: 600;
    font-size: 18px;
    margin:73px 0 0 0;
    width: 370px;
    padding: 20px 20px;
    color: #FFFFFF;
    background:rgba(0, 0, 0, 0);
    border-color:white;
}

@media(max-width: 1510px) {
    .design__title {
    font-size: 24px;
    padding-bottom: 48px;
}
    .design__title::after{
        max-width: 142px;
    }
    .design__subtitle {
        margin: 32px 0 0;
        font-size: 14px;
    }
    .design__tab{
        font-size: 18px;
        margin:32px 0 0;
        max-width: 318px;
    }

}
@media(max-width: 1024px) {

    .design__subtitle {
        margin: 16px 0 0;
    }
.design__tab{
    max-width: 287px;
}
    .design-section{
        padding-top:45px;
        padding-bottom: 60px;
    }
}