.footer{
    background-color: black;
    width: 1510px;
    margin: 0 auto;
}
.logo{
    display: flex;
    justify-content: center;
    gap:40px;
    padding-top: 35px;
}
.office{
    color: #FFFFFF80;
    font-family: Raleway,Arial,sans-serif;
    font-weight: 400;
    font-size: 18px;
    text-align: center;
    margin-top: 35px;
    padding-bottom: 25px;

}