.footer{
    background-color: black;
    padding:30px;
}
.logo{
    display: flex;
    justify-content: center;
    gap:40px;
    margin:0;
    padding:0;
}
.office{
    color: #FFFFFF80;
    font-family: Raleway,Arial,sans-serif;
    font-weight: 400;
    font-size: 18px;
    text-align: center;
    margin: 35px 0 0 0;

}