.header{
    background-color: black;
}
.loft{
    display: flex;
    justify-content: space-between;

}
.loft__logo{
    align-self: center;
}
.menu{
    list-style: none;
    display: flex;
    font-family: Open Sans,Arial,sans-serif;
    font-weight: 600;
    font-size: 14px;
    padding: 0;
    margin: 0;
    gap: 30px;
}

.menu__nav:link{
    color:white;
    text-decoration: none;
    display: block;
    padding: 20px;
}

@media(max-width: 1510px){
    .container{
        width: 992px;}
}

@media(max-width: 1024px){
    .container{
        max-width: none;
        display: block;
        padding: 15px;
    }
    .menu{
        flex-direction: column;
        align-items: center;
    }

}




