.pricing-options{
    background-color: #F5F5F5;
}
.pricing{
    max-width: 1170px;
    margin:0 auto;
}
.options{
    font-family: Raleway, "Arial", sans-serif;
    font-weight: 400;
    font-size: 36px;
    text-align: center;
    padding: 57px 0;
    margin-top: 50px ;
    margin-bottom: 0;
}
.line{
    width: 170px;
    border-color: #EC7979;
    margin-left: 500px;
}
.subhead{
    font-size: 18px;
    font-weight: 400;
    font-family: Raleway, "Arial", sans-serif;
    text-align: center;
    color:gray;
    margin-top: 40px;
}
.blocks{
    list-style: none;
    text-align: center;
    display: flex;
    justify-content: space-between;
    padding: 0;
}
.blocks__paragraph{
    color: white;
    width: 370px;
    margin-top: 79px;
    margin-bottom: 50px;
}
.blocks__paragraph--basic{
    font-family: "Open Sans", "Arial", sans-serif;
    font-weight: 700;
    font-size: 24px;
    background-color: black;
    margin: 0;
    padding: 14px 0;
}
.blocks__paragraph--10{
    font-family: Raleway, "Arial", sans-serif;
    font-size: 36px;
    font-weight: 700;
    background-color: black;
    margin-top: 2px;
    padding: 29px 0;
    margin-bottom: 1px;
}
.blocks__paragraph--life{
    font-family: Raleway,"Arial", sans-serif;
    font-weight: 400;
    font-size: 18px;
    background-color: black;
    margin: 2px auto;
    padding: 15px 0;
}
.blocks__paragraph--1gb{
    background-color: white;
    color:#86878B;
    border:1px solid #F5F5F5;
    margin: 0;
    padding:15px 0;
    font-size: 18px;
    font-weight: 400;
    font-family: Raleway,Arial,sans-serif;
}
.blocks__middle{
    margin-top: 59px;
}




