.pricing-options{
    background-color: #F5F5F5;
    padding: 30px 0;
}
.options{
    font-family: Raleway, "Arial", sans-serif;
    font-weight: 400;
    font-size: 36px;
    text-align: center;
    padding-bottom:50px;
    margin: 0;
    position: relative;
}
.options::after{
    content:"";
    position: absolute;
    height: 1px;
    width: 170px;
    background-color: #EC7979;
    bottom: 0;
    transform: translate(-50%, 0);
    left: 50%;
}

.subhead{
    font-size: 18px;
    font-weight: 400;
    font-family: Raleway, "Arial", sans-serif;
    text-align: center;
    color:gray;
    margin-top: 40px;
    margin-bottom: 0;
}
.blocks{
    list-style: none;
    text-align: center;
    display: flex;
    justify-content: space-between;
    padding: 0;
    margin-top: 80px;
    margin-bottom: 0;
}
.blocks__paragraph{
    color: white;
    width: 370px;
}
.blocks__paragraph--basic{
    font-family: "Open Sans", "Arial", sans-serif;
    font-weight: 700;
    font-size: 24px;
    background-color: black;
    margin: 0;
    padding: 14px 0;
}
.blocks__paragraph--10{
    font-family: Raleway, "Arial", sans-serif;
    font-size: 36px;
    font-weight: 700;
    background-color: black;
    margin-top: 2px;
    padding: 29px 0;
    margin-bottom: 1px;
}
.blocks__paragraph--life{
    font-family: Raleway,"Arial", sans-serif;
    font-weight: 400;
    font-size: 18px;
    background-color: black;
    margin: 2px auto;
    padding: 15px 0;
}
.blocks__paragraph--1gb{
    background-color: white;
    color:#86878B;
    border:1px solid #F5F5F5;
    margin: 0;
    padding:15px 0;
    font-size: 18px;
    font-weight: 400;
    font-family: Raleway,Arial,sans-serif;
}
.blocks__middle{
    margin-top: -30px;
}




