.state-freedom{
    max-width: 1170px;
    margin: 100px auto;
}
.content{
    border: 2px solid #C6CBCD;
    margin-top: -3px;
    list-style: none;
    display:flex;
    justify-content: space-between;
}
.button{
    list-style: none;
    display: flex;
    width: 570px;
    text-align: center;
    padding: 0;
    margin: 0;

}
.button__item {
    width: 184px;
    padding:20px;
    background-color: white;
    border: none;
    cursor: pointer;

}

.button__item--active{
    width:200px;
    border-radius:5px 5px 0 0;
    background-color: white;
    border:2px solid #C6CBCD;
    border-bottom:1px solid white;
}
.content__description{
    width: 640px;
    padding: 30px;
}
.content__description--title{
    font-weight: 700;
    font-size: 30px;
    font-family: "Open Sans", "Arial", sans-serif;
    margin-top: 57px;
}
.content__description--information{
    font-family: Raleway, "Arial", sans-serif;
    font-weight: 400;
    font-size: 18px;
    margin-top: 77px;
}
.content__description--button{
    width: 270px;
    font-family: "Open Sans", "Arial", sans-serif;
    color: white;
    font-size: 18px;
    font-weight: 600;
    border:1px solid #EC7979;
    background-color:#EC7979;
    margin-top: 30px;
    padding:15px 0;
}